/*Dashboard pages Start*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
#wrap{min-height: 90%;min-width: 600px;}
.dashboard-container{padding:0; margin:0;font-family: 'Roboto', sans-serif;}	
.dashboard-container .db-body{padding-left:300px;min-height: 90%;    margin-left: -16px;}
.dashboard-container .db-menu{/*height:100%;  position:absolute; min-height:100%;*/    margin-left: 20px; display:block; background:#f8f8f8; border-right:1px solid #e7e7e7; border-left:1px solid #e7e7e7; /*width:268px; left:0; top:0;*/}
.dashboard-container .db-menu ul{margin:23px 0;}
.dashboard-container .db-menu h2{margin: 48px 0px 20px 10%;}
.dashboard-container .db-menu .ml-menu{margin:0px 0;}
.dashboard-container .db-menu li{display: block;border-bottom: 1px solid #fbb450;font-size: 16px;font-weight: 400;background-image: linear-gradient(to bottom,#fbb450,#f89406);border-color: #e48605;background-color: #fbb450;}
.dashboard-container .db-menu li:first-child{border-top:1px solid #e7e7e7;}
.dashboard-container .db-menu li a{position:relative;font-family: 'Roboto', sans-serif; line-height:40px; height:40px; display:block;padding:0 0 0 45px;color: #f9f3f3;}
.dashboard-container .db-menu li a .glyphicon{position:absolute; left:15px; line-height:35px;    font-size: 20px;color:#363636;} 
.dashboard-container .db-menu li a:hover, .dashboard-container .db-body .db-menu li.active a{color:#fff;background:#1255b3;}
.dashboard-container .box-content{margin-left: 45px;}
.dashboard-container h1{font-size:30px;font-family: 'Roboto', sans-serif;line-height:1; color:#333333; padding:0 0 25px; margin:50px 0 25px; font-weight:400;border-bottom: 2px solid #f9a023;}
.dashboard-container h1 span{color:#1255b3;}
.dashboard-container  .dash-info-box{-webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px;width: 100%; border: 2px solid #faa52c;margin-right: 5px;float: left;background: #f8f8f8;-webkit-box-shadow: 0px 2px 0px 0px rgba(106,106,106,1);-moz-box-shadow: 0px 2px 0px 0px rgba(106,106,106,1);box-shadow: 0px 2px 0px 0px rgb(249, 153, 17);/*padding: 3px 0px 3px;*/}
.dashboard-container  .dash-info-box:hover{color: #000;    background-image: linear-gradient(to bottom,#fbb450,#f89406);font-weight: 500;}
.dashboard-container  .dash-info-box:active{color: #000;background-image: linear-gradient(to bottom,rgba(251, 180, 80, 0.35),rgba(248, 148, 6, 0.75));}
.dashboard-container  .dash-info-box:focus{color: #000;background-image: linear-gradient(to bottom,rgba(251, 180, 80, 0.35),rgba(248, 148, 6, 0.75));}
.dashboard-container  .dash-info-box:last-child{margin-right:0;}
.dashboard-container  .dash-info-box  li{display:block;/*margin:0 0 15px; text-align:center;*/float:left; width:50%;padding: 0px 0px 0px 5%;}
.dashboard-container  .dash-info-box  li:last-child{margin:0;}
.dashboard-container  .dash-info-box  li.title-box{font-size:18px;line-height: 38px;}
.dashboard-container  .dash-info-box  li.dyn-value{height: 38px;line-height: 38px;-webkit-border-radius: 3px;font-size: 18px;border-left: 2px #faa52c  solid;}

.dashboard-container  .search-panel-body{min-height: 49px;border-color: #e48605;border: 1px solid #e48605;margin-bottom: 30px;margin-top: 30px;max-width: 525px;}
.dashboard-container  .search-panel{min-height: 54px;width: 100%;margin: 10px 0;float: left;background: #f8f8f8;font-size: 18px;border: 1px #e48605 solid;padding-top: 9px;padding-bottom: 9px;}
.dashboard-container  .search-panel  li{display:block;text-align:center;float:left;}
.dashboard-container  .search-panel  li input{display:block;text-align:center;max-width: 90%;min-width: 90%;border: 1px solid #e48605;}
.dashboard-container  .search-panel  li input[type=button]{background-image: linear-gradient(to bottom, #fbb450, #f89406);}
.dashboard-container  .search-panel  li input[type=button]:hover{    background-image: linear-gradient(to bottom, #e6a549, #ca7804);}
.dashboard-container  .search-panel  li:first-child{width:45%;margin-top: 4px;}
.dashboard-container  .search-panel  li:last-child{width:55%;}
.dashboard-container  .search-panel  li:first-child span{float: right;padding-right: 4%;max-width: 100%;}

.dashboard-container   .panel-default > .panel-heading{color:#363636; font-size:20px; padding:15px; line-height:1;    background-image: linear-gradient(to bottom,#fbb450,#f89406);order-color: #faa52c;background-color: #fbb450;}
.dashboard-container   .panel-default > .panel-heading span{color:#363636; font-size:20px; margin-right: 8px; line-height:1;}
.dashboard-container   .panel-default .fa{font-size:18px; margin-right:10px;}
.dashboard-container   .panel-default .heading-blue{font-size:16px; margin:0 0 10px;color:#1255b3;font-weight:400;}
.dashboard-container   .panel-default p{font-size:14px; color:#666666; line-height:24px;}
.dashboard-container   .revenue-boot{margin:0; padding:0;}
.dashboard-container   .revenue-boot li{display:block; padding:0 0 10px; margin:0 0 10px; border-bottom:1px solid #e8e8e8; color:#666666; line-height:1; font-size:14px;}
.dashboard-container   .revenue-boot li span{margin:0 0 5px;color:#1255b3;font-weight:400; display:block;}
.dashboard-container   .revenue-boot li a{color:#666;}
.dashboard-container   .revenue-boot li a:hover{color:#1255b3;}
.dashboard-container   .revenue-height{min-height:245px;border-color: #e48605;border: 1px solid #e48605;}
.dashboard-container  .panel{margin-bottom:30px;}
.db-mob-nav{display:none; margin:10px 0 0;   background:#f8f8f8; border:1px solid #CCC;}
.db-mob-nav a{display:block;padding:15px; line-height:1; position:relative;}
.db-mob-nav a .fa{font-size:28px; line-height:1; position:absolute; top:7px; right:9px;}
.dashboard-container  .new-site-submission{}
.dashboard-container  .new-site-submission ol{list-style-position:inside; margin:15px 0;}
.dashboard-container  .new-site-submission ol li{margin:0 0 5px;}
.dashboard-container  .new-site-submission p{margin:0;padding:0;}
.dashboard-container  .new-site-submission p a{color:#1255b3;}
.dashboard-container  .new-site-submission p a:hover{color:#333;}

.dashboard-container  .db-blue-btn{border:1px solid #1255b3;color:#1255b3; line-height:44px; height:44px; font-size:16px; font-weight:400; padding:0 15px; margin:0; background:transparent;border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.dashboard-container  .db-blue-btn:hover,.dashboard-container  .db-blue-btn:focus{color:#333;border-color:#333;}


.dashboard-container  .db-gray-btn{border:1px solid #363636;color:#363636; line-height:44px; height:44px; font-size:16px; font-weight:400; padding:0 15px; margin:0; background:transparent;border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.dashboard-container  .db-gray-btn:hover,.dashboard-container  .db-gray-btn:focus{color:#1255b3;border-color:#1255b3;}



.dashboard-container   .ct-inline-form{margin-bottom:22px;}
.dashboard-container   .ct-inline-form .form-control{width:75%; float:left; display:inline-block; margin-right:5px;}
.dashboard-container   .ct-inline-form  .db-blue-btn{display:inline-block;}

.dashboard-container  .impt-message li{margin:0 0 15px;}
.dashboard-container  .impt-message li:last-child{margin:0;}
.dashboard-container  .impt-message .form-control{min-height:150px; padding-top:10px;}

.dashboard-container .db-table-style td, .dashboard-container .db-table-style th{text-align:center; font-size:16px;}
.dashboard-container .db-table-style th{background:#333333; color:#fff; font-size:16px; font-weight:400; border-right:1px solid #333333 !important;padding:15px 0 !important;}

.dashboard-container .table-bordered > tbody > tr > td, .dashboard-container .table-bordered > tbody > tr > th, .dashboard-container .table-bordered > tfoot > tr > td, .dashboard-container .table-bordered > tfoot > tr > th, .dashboard-container .table-bordered > thead > tr > td, .dashboard-container .table-bordered > thead > tr > th{ border: 1px solid #c2c2c2; vertical-align:middle; padding:10px 0; line-height:1;}
.dashboard-container .table-bordered{border:none;}
.dashboard-container .db-table-style td:first-child{padding-left:15px;text-align:left;}
.dashboard-container .db-table-style th:first-child{padding-left:15px !important;text-align:left;}
.dashboard-container .db-table-style .db-gray-btn{font-size:14px; padding:0 10px;height:30px; line-height:28px; display:inline-block;background:#fff; margin-right:5px;}
.dashboard-container .db-table-style .db-gray-btn:nth-child(2){margin-right:0;}
.dashboard-container .db-table-style .red-btn{color:#ff0000;}
.dashboard-container .db-table-style .red-btn .fa{font-size:28px;}
.dashboard-container .db-table-style tr:nth-child(2n+2){background:#f3f3f3;}

.dashboard-container .heading-black{font-size:20px; color:#222324; font-weight:300;margin:25px 0;}

.dashboard-container  .get-code-banner{margin:20px;}
.dashboard-container  .get-code-banner li{display:block; margin:0 0 15px; font-weight:300; font-size:16px;}
.dashboard-container  .get-code-banner .banner-bottom{margin:0 0 50px;}
.dashboard-container  .get-code-banner .form-control{height:132px; font-size:16px; margin:0 0 30px;}
.dashboard-container .profile-page{padding:20px 15px;}


.dashboard-container  .form-control{display:block;width:100%;/*height:40px*/;padding:0 12px;font-size:14px;line-height:1.42857143;color:#7f7e7e;background-color:#fff;background-image:none;border:1px solid #d3d3d3;-webkit-border-radius:0;-moz-border-radius:0;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;color:#7f7e7e;}
.dashboard-container   .form-control:focus, .dashboard-container .form-control:hover{border-color:#1255b3;outline:0;-webkit-box-shadow:none;box-shadow:none;  -moz-box-shadow:none; }
.dashboard-container  .form-control::-moz-placeholder{color:#7f7e7e;opacity:1;}
.dashboard-container .form-control:-ms-input-placeholder{color:#7f7e7e;}
.dashboard-container  .form-control::-webkit-input-placeholder{color:#7f7e7e;}
.dashboard-container  label{font-size:16px; color:#666; font-weight:400; margin:0 0 10px; line-height:1;}

.dashboard-container  .form-control[disabled], .dashboard-container  fieldset[disabled] .form-control{color:#7f7e7e;border:1px solid #d3d3d3; background:#f7f7f7;-webkit-box-shadow:none;box-shadow:none; -moz-box-shadow:none;-ms-box-shadow:none;}

.dashboard-container  .form-control[disabled]:hover, .dashboard-container  fieldset[disabled] .form-control:hover{border-color:#d3d3d3;-webkit-box-shadow:none;box-shadow:none; -moz-box-shadow:none;-ms-box-shadow:none;}

.dashboard-container  .db-blue-btn, .dashboard-container  .db-gray-btn{height:40px; line-height:40px; display:inline-block;}



.dashboard-container .profile-page  span{font-size:12px; display:block; margin:5px 0 0; color:#b2b2b2;}
.dashboard-container .profile-page li{padding-bottom:25px; position:relative;}
.dashboard-container .profile-page textarea.form-control{height:90px;}
.dashboard-container .profile-page .payment-box{padding-left:25px;}
.dashboard-container .profile-page .sign{position:absolute; font-weight:400; font-size:16px; color:#666; top:33px; left:15px;}
.dashboard-container .profile-page label.payment{margin:35px 0 0;}
.dashboard-container .profile-page  li.wd100{width:100%;}
.dashboard-container .support-center li{padding-bottom:35px;}
.dashboard-container .support-center  textarea.form-control{height:135px; padding-top:10px;}

.dashboard-container .support-times{padding-left:35px; border-left:1px solid #d2d2d2; display:block; height:350px;}
.dashboard-container .support-times h3{color:#363636; margin:0 0 35px; font-weight:400; font-size:20px;}
.dashboard-container .support-times .heading-blue{margin:0 0 5px;}
.dashboard-container  .payment-page{padding:15px;}
.dashboard-container  .payment-page p{margin:0 0 15px; line-height:1;}
.dashboard-container  .payment-page .big-text{color:#6a6a6a; font-size:18px; font-weight:400;}
.dashboard-container  .payment-page .big-text span{color:#1255b3;font-weight:500;}
.dashboard-container  .payment-page  .dash-info-box{width:100%; text-align:center; margin:30px 0 0;}

.dashboard-container  .payment-page .title-box{color:#454545;font-size:22px; font-weight:300; display:block; margin:0 0 20px;}
.dashboard-container  .payment-page .amount-box{color:#1255b3;font-size:26px; font-weight:500; display:block;}
.dashboard-container  .wd150 {width: 150px !important; line-height:1.3 !important;}
.dashboard-container  .payment-page [class*="block-grid-"] > li{padding: 0 0.625rem 1.25rem;}
.dashboard-container  .payment-page [class*="block-grid-"]{margin: 0 -0.625rem;}
.dashboard-container  .payment-page   .dash-info-box {margin:0 0 3px;}
.dashboard-container  .payment-page   .dash-info-box .amount-box{font-size:16px; font-weight:300;}
.legal{   
    padding: 20px 0;
    text-align: center;
    float: left;
    display: block;
    margin: 0;
    width: 100%;
    font-size:16px;
  }
/*Dashboard pages END*/


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation :landscape){
.dashboard-container .dash-info-box{width:48.5%; margin-right:2.5%; margin-bottom:20px;}
.dashboard-container .dash-info-box:nth-child(2n+2){margin-right:0;}

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait){
.dashboard-container .db-body{padding-left:0;}
.dashboard-container .db-body .db-menu{  position: relative; width:100%;display:none;}
.db-mob-nav{display:block;}
.dashboard-container .db-body .db-menu ul{margin:0;}
.dashboard-container .db-body h1{margin:30px 0 25px;}
.dashboard-container .dash-info-box{width:48.5%; margin-right:2.5%; margin-bottom:20px;}
.dashboard-container .dash-info-box:nth-child(2n+2){margin-right:0;}
}


@media only screen and (min-width: 320px) and (max-width: 767px){
.dashboard-container .db-body{padding-left:0;}
.dashboard-container .db-body .db-menu{  position: relative; width:100%;display:none;}
.db-mob-nav{display:block;}
.dashboard-container .db-body .db-menu ul{margin:0;}
.dashboard-container .db-body h1{margin:30px 0 25px;}
.dashboard-container .dash-info-box{width:100%; margin-right:2.5%; margin-bottom:20px;}
.dashboard-container .dash-info-box:nth-child(2n+2){margin-right:0;}
.dashboard-container .panel-default > .panel-heading{font-size:18px;}
.dashboard-container .panel-default img{max-width:100%;}
.dashboard-container .support-times{height:auto; padding-left:0; border:none;}
.dashboard-container .support-center li, .dashboard-container .profile-page li{padding-bottom:15px;}
.dashboard-container .profile-page{padding:10px 0;}
}
