<div class="row">
    <!-- page title Start-->
    <div class="">
        <div class="col-lg-12">
            <h1>Search By NuID</h1>
        </div>
    </div>	
    <!-- page title END-->

    <!-- page content start-->
    <div class="">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-refresh"></i>Search Result</div>
                <div class="panel-body revenue-height">

                </div>
            </div>
        </div>
    </div>
    <!-- page content END-->
</div>
